.card{
    min-width: 200px;
    max-width: 200px;
    height: 320px;
     box-shadow: 0 0 10px rgb(239,241,244);
     margin: 5px;
     padding-bottom:5px; 
    color:black;
     background-color: transparent !important; 
    box-sizing: border-box;
     border:1px solid rgb(170, 170, 170); 
     border-radius: 5px; 
}
.card:hover{
     box-shadow: 0 0 5px 5px  rgb(158, 159, 160);
     
}
.btnLg{
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}
.btnStyle{
background-color: rgb(255,62,108);
border-color: rgb(248, 89, 126);
color: #fff;
}
@keyframes fadein {
    from{
   opacity: 0.8;
 
    }
    to{
   opacity: 1;
    }
}
.btnStyle:hover{
    color: #fff;
    background-color:  rgb(248, 89, 126);
    /* background-color:  red;
    border-color: rgb(255,62,108);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; */
    animation: fadein .15s ease-in-out;
}
.btN{
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    /* color: #212529; */
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /* background-color: transparent; */
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    /* transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 */
}
.imageMove{
    object-fit: contain;

}
.imageMove:hover{
    transform: scale(1.1);
}


