.btn-primary{
}
section{
    padding:0 60px;
}
body{
    margin:0 !important;
    padding: 0 !important;
}
.user-setting {}
.padding{}
@media screen  and (max-width:500px){
    .user-setting{
        font-size:12px !important;
    }
    .padding{
        padding-left:10px !important;
        padding-right:10px !important;
    }
}