.padding{}
.smallDiv1{
    display: block;;
}
.signup-image{
   object-fit:contain;
   width:50%;
   height:50%; 
}

@media screen  and (max-width:768px){
    
    .padding-body1{
        padding-left:30px !important;
        padding-right:30px !important;
        margin-left: 0 !important;
        margin-right: 0 !important;

    }
    .smallDiv1{
        height: 500px;
    }
    .signup-text-setting{
        font-size: 15px!important;
    }
    .signup-image{
       
        width:60%;
        height:60%; 
     }
   
}
@media screen  and (max-width:576px){
    
    .padding-body1{
        padding-left:10px !important;
        padding-right:10px !important;

    }
    .smallDiv1{
     display: none;
    }
}